/* ESTILOS GENERALES */

*{
    margin:0px;
    padding:0px;
}
body{
    font-family:"Archivo", sans-serif;
    font-optical-sizing:auto;
    font-weight:200;
    font-style:normal;
    text-align:justify;
}
button,input{
    -webkit-appearance:none;
    appearance:none;
}
a{
    text-decoration:none;
}

/* ESTILOS CABECERA PRINCIPAL Y CABECERA SECUNDARIA */

.header_principal,.header_secundario{ 
    position:fixed;
    top:0px;
    left:0px;
    box-sizing:border-box;
    width:100%;
    padding:40px;
    display:flex;
    align-items:center;
    height:300px;
    flex-direction:column;
    justify-content:space-between;
    z-index:1; 
}
.header_secundario{
    flex-direction:row;
    height:180px;
    transition:top 500ms;
}
.fa-person-hiking{
    color:#cf5533;
}
.abrir_header_movil,.cerrar_header_movil{
    display:none
}
.logo_inicio{
    width:150px;
}
.header_secundario .logo_inicio{
    width:100px;
}
.menu{
    list-style:none;
    display:flex;
}
.navegacion a{
    display:flex;
    align-items:center;
    width:100%;
    color:black;
    font-size:1.3rem;
    font-weight:500;
}
.navegacion li:not(:last-child){
    margin-right:1rem;
}
.navegacion li{
    display:block;
    border:1px solid rgba(255,255,255,0.8);
    border-radius:20px;
    background-color:rgba(255,255,255,0.9);
    padding:10px;
    cursor:pointer;
    box-shadow:1px 1px 5px -1px #2f272a;
    transition:transform 0.7s;
}
.navegacion li:hover{
    transform:scale(1.2);
}
.navegacion ul li ul li:hover{
    transform:scale(1.2);
}
.navegacion .fa-location-dot{
    color:#f6b233;
}
.navegacion .fa-rotate-90{
    margin-left:1rem;
    font-size: 0.8rem;
    color:#2f272a;
}
.rotate{
    transform:rotate(-360deg);
}
.navegacion .fa-location-dot{
    margin-right:0.3rem;
}
.navegacion ul li{
    position:relative;
}
.submenu{
    display:none;
    position:absolute;
    top:45px;
    left:-13px;
    width:108%;
    border:1px solid rgba(255,255,255,0.8);
    border-radius:20px;
    background-color: rgba(47,39,42,0.8);
    padding:5px;
    padding-right:7px;
    cursor:pointer;
    z-index:2;
}
.visible_submenu{
    display:block;
}
.submenu li{
    width:calc(100% - 20px);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.submenu li a{
    flex-direction:column;
}
.submenu li:not(:first-child){
    margin-top:2px;
}
.submenu a{
    text-align:center;
    line-height:120%;
    color:black;
    font-size:0.6rem;
    font-weight:500;
}
#seleccionado{
    background-color:rgba(246,178,51,0.8);
}
#seleccionado .fa-location-dot,#seleccionado span:nth-child(2){
    color:white;
}
.fa-rotate-90{
    color:#cf5533;
}

/* ESTILOS PIE DE PAGINA */

footer{
    position:fixed;
    width:100%;
    bottom:0;
    background-color:#2f272A;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.texto_footer{
    font-size:0.8em;
    font-weight:400;
    text-transform:uppercase;
    color:white;
    display:flex;
    cursor:pointer;
}
.texto_footer :last-child{
    color:#cf5533;
    margin-left:10px;
}
footer .fa-brands{
    margin-right:20px;
    cursor:pointer;
    color:white;
}
.caja_busqueda{
    display:block;
    width:180px;
    background-color:white;
    border:none;
    border-radius:15px;
    padding:5px;
    margin-left:20px;
}
.caja_busqueda button{
    background-color:transparent;
    border:none;
}
.caja_busqueda input{
    background-color:transparent;
    width:75%;
    margin-left:10px;
}
.caja_busqueda .fa-solid{
    color:#2f272A;
    cursor:pointer;
    margin-left:5px;
}

/* ESTILOS ANIMACION SENDERISTAS */

.senderista{
    position:fixed;
    left:20px;
    bottom:45px;
    width:40px;
    rotate:0px;
    cursor:pointer;
    text-shadow:1px 1px 10px #2f272a;
}
.movimiento{
    animation:movimiento 10s cubic-bezier(.07,.19,.69,.63);
}
.senderista:last-child{
    left:60px;
    width:47px;
}
.contenedor_senderistas{
    width:100%;
}
@keyframes movimiento{
    0%{
        left:20px;
        rotate:-5deg;
    }
    20%{
        rotate:5deg;
    }
    40%{
        rotate:7deg;
    }
    60%{
        rotate:-7deg;
    }
    80%{
        rotate:8deg;
    }
    100%{
        left:100%;
        rotate:-4deg;
    }
}

/* ESTILOS PÁGINA INICIO */

.pg_inicio{
    height:100vh;
    background:url("../img/img_fondo_inicio.jpg") no-repeat center;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}
.pg_inicio h2{
    font-size:2rem;
    color:white;
    text-shadow:1px 1px 10px #2f272a;
    text-align:center;
    margin-top:40vh;
}

    /* SECCIONES INTERNAS */

/* ESTILOS PÁGINAS RUTAS Y ENTORNO */

.img_fondo{
    display:block;
    width:100%;
    height:180px;
    background:url("../img/img_fondo_rutas.jpg") no-repeat center;
    background-size:cover;
}
.img_fondo_entorno,.img_fondo_galeria{
    background:url("../img/img_fondo_entorno.jpg") no-repeat center;
    background-size:cover;
}
.contenedor_rutas,.contenedor_entorno{
    padding:50px 50px 100px;
    background-image:linear-gradient(to top, #fff3e1, white);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.contenedor_rutas h3,.contenedor_entorno h3{
    font-size:2rem;
    text-transform:uppercase;
}
.cabecera_ruta{
    display:flex;
    justify-content:space-between;
    border-bottom:3px solid #cf5533;
    border-top:3px solid #1dbdbb;
}
.izquierda_cabecera_ruta{
    margin:10px 0;
    display:flex;
    flex-direction:column;
}
.derecha_cabecera_ruta{
    width:300px;
    display:flex;
    justify-content:space-between;
}
.derecha_cabecera_ruta div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.derecha_cabecera_ruta p{
    display:block;
    font-weight:200;
}
.derecha_cabecera_ruta p:last-child{
    display:block;
    font-weight:500;
}
.bloque_ruta{
    width:100%;
}
.img_rutas,.img_entorno,.mapa_perfil_rutas{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
.contenedor_rutas img,.contenedor_entorno img{
    display:inline-block;
    margin:20px;
    width:300px;
    height:300px;
    border-radius:20px;
    outline:2px solid rgba(246,178,51,0.5);
    outline-offset:2px;
}
.mapa_perfil_rutas img{
    display:inline-block;
    margin:20px;
    width:700px;
    height:350px;
}
.contenedor_entorno h2{
    padding:0px 0px 20px;
}
.contenedor_entorno p{
    line-height:1.3rem;
}
.bloque_ruta:not(:first-child),.bloque_entorno:not(:first-child){
    margin:20px auto 0;
}
.margin-top-20px{
    margin-top:20px;
}

/* ESTILOS PAGINAS GALERIA Y MAPAS */

.img_fondo_mapas{
    background:url("../img/img_fondo_mapas.jpg") no-repeat center;
    background-size:cover;
}
.galeria,.mapas{
    padding:50px 50px 100px;
    background-image:linear-gradient(to top, #fff3e1, white);
    min-height:100vh;
    display:grid;
    grid-template-columns:repeat(4,auto);
    gap:20px;
}
.mapas{
    align-content:flex-start;
}
.galeria img,.enlace-mapa{
    border-radius:3%;
    cursor:pointer;
    box-shadow:1px 1px 5px -1px #2f272a;
    transition:transform 0.7s;
}
.galeria img{
    display:block;
    width:100%;
}
.galeria img:hover,.enlace-mapa:hover{
    transform:scale(1.2);
    box-shadow:#2f272a;
}
.modal_galeria,.modal_consulta{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(255,243,225,0.8);
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter: blur(20px);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:2;
}
.modal_galeria button{
    display:block;
    border:none;
    background-color:transparent;
    font-size:3rem;
    cursor:pointer;
    padding:30px;
}
.modal_galeria button span{
    margin:20px;
    color:#f6b233;
}
.modal_galeria .fa-solid{
    color:#2f272a;
}
.contenedor-img{
    width:500px;
    height:500px;
    border:40px solid #2f272a;
    border-radius:5px;
    position:relative;
}
.contenedor-img img{
    width:500px;
    height:500px;
    border-radius:0%;
}
.contenedor-img .boton_cerrar{
    top:-40px;
    left:-40px;
    background-color:transparent;
}
.enlace-mapa{
    border:1px solid #2f272a;
    background-color:#2f272a;
}
.enlace-mapa img{
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    display:block;
    width:100%;
    background-size:cover;
}
.enlace-mapa p{
    color:#fff3e1;
    text-align:center;
    font-size:0.8rem;
    padding:5px;
}
.enlace-mapa span{
    margin-right:10px;
}

/* ESTILO PAGINA CONTACTO */

.img_fondo_contacto{
    background:url("../img/img_fondo_contacto.jpg") no-repeat center;
    background-size:cover;
}
.contenedor_contacto{
    background-image:linear-gradient(to top, #fff3e1, white);
    min-height:100vh;
}
.formulario,.texto_localizador_contacto{
    width:calc(100% - 100px);
    margin:50px auto 0px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.texto_localizador_contacto{
    margin:0px auto 50px;
}
.formulario h2,.texto_localizador_contacto h2{
    display:block;
    font-size:3rem;
}
.texto_localizador_contacto h2{
    margin-top:20px;
}
.texto_localizador_contacto .border{
    padding:25px 0px;
    border-top:2px solid #cf5533;
    border-bottom:2px solid #cf5533;

}
.texto_localizador_contacto p:nth-child(3){
    margin-top:20px;
}
.texto_localizador_contacto iframe{
    margin:20px auto 100px;
}
form{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-bottom:30px;
}
.formulario input{
    display:block;
    border-radius:5px;
    padding:10px;
    margin-top:20px;
    background-color:white;
    border:1px solid #2f272a;
}
.formulario input[type="text"]{
    width:80%;
}
.formulario input[name="asunto"]{
    height:60px;
}
.formulario input[type="submit"]{
    background-color:#2f272a;
    color:white;
    width:150px;
    height:40px;
    cursor:pointer;
    box-shadow:1px 1px 5px -1px #2f272a;
    transition:transform 0.7s;
}
input[type="submit"]:hover{
    transform:scale(1.3);
}
.consulta_enviada{
    width:100%;
    max-width:400px;
    padding:20px;
    background-color:#2f272a;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    position:relative;
    color:white
}
.consulta_enviada h2{
    font-weight:500;
    margin-bottom:15px;
}
.consulta_enviada p:nth-child(3){
    font-size:1.2rem;
    padding:15px 0px;
    border-bottom:1px solid #f6b233;
    border-top:1px solid #f6b233;
}
.consulta_enviada p:nth-child(4){
    margin-top:15px;
    font-weight:600;
    font-style:italic;
    color:#f6b233;
}
.boton_cerrar{
    position:absolute;
    top:5px;
    left:5px;
    width:40px;
    height:40px;
    background-color:#2f272a;
    border-radius:5px;
    color:#f6b233;
    transition: color 300ms;
    cursor:pointer;
    text-transform:uppercase;
    font-size:1.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.boton_cerrar span:hover{
    color:#1dbdbb;
    font-weight:400;
}
.visible{
    display:flex;
}

    /* MEDIAQUERIES - ESTILOS RESPONSIVE */

 /* ESTILOS PANTALLAS HASTA 1.200px */
 
@media screen and (max-width:1200px){
    .navegacion a{
        font-size:0.9rem;
    }
    .submenu.visible_submenu{
        top:2.3rem;
        left:-1.1rem;
    }
    .submenu li{
        width:calc(100% - 20px);
    }
    .submenu a{
        font-size:0.5rem;
        font-weight:200;
    }
    .contenedor_rutas h3,.contenedor_entorno h3{
        display:block;
        font-size:1rem;
    }
    .formulario,.texto_localizador_contacto{
        width:calc(100% - 70px);
    }
    .texto_localizador_contacto iframe{
        width:700px;
    }
}

 /* ESTILOS PANTALLAS HASTA 801px */

@media screen and (max-width:801px){
    .header_secundario ul li{
        padding:3px;
    }
    .header_secundario .logo_inicio{
        width:70px;
    }
    .header_principal .submenu.visible_submenu{
        top:2rem;
        left:-3.4rem;
        width:150%;
    }
    .header_principal .submenu.visible_submenu li{
        width: calc(100% - 10px);
        padding: 5px;
    }
    .submenu.visible_submenu{
        top:1.3rem;
        left:-2.5rem;
        width:150%;
    }
    .navegacion a{
        font-size:0.7rem;
    }
    .submenu li{
        width:calc(100% - 5px);
        padding:18px;
    }
    .submenu a{
        font-size:0.5rem;
    }
    .navegacion li:not(:last-child){
        margin-right:6px;
    }
    .navegacion ul ul li:not(:last-child){
        margin-right:0px;
    }
    .derecha_cabecera_ruta{
        width:240px;
    }
    .contenedor_rutas img,.contenedor_entorno img{
        width:200px;
        height:200px;
    }
    .mapa_perfil_rutas img{
        width:500px;
        height:250px;
    }
    .bloque_ruta h2{
        font-size:1rem;
    }
    .galeria,.mapas{
        grid-template-columns: repeat(2,auto);
    }
    .contenedor-img{
        width:400px;
        height:400px;
    }
    .contenedor-img img {
        width:400px;
        height:400px;
    }
    .formulario,.texto_localizador_contacto{
        width:calc(100% - 60px);
    }
    .formulario h2,.texto_localizador_contacto h2{
        text-align:center;
        font-size:2rem;
    }
    .texto_localizador_contacto p {
        margin-top: 20px;
      }
    .texto_localizador_contacto iframe{
        width:450px;
    }
    footer{
        height:1.8rem;
    }
    footer .fa-brands{
        margin-right:10px;
    }
    .redes_sociales{
        font-size:0.8rem;
    }
    .texto_footer{
        font-size:0.8rem;
    }
    .redes_sociales,.texto_footer{
        margin:5px;
    }
    .caja_busqueda{
        width:120px;
        margin-left:10px;
    }
    .caja_busqueda input {
        width:65%;
      }
    .senderista{
        width:25px;
        bottom:2.8rem;
        left:5px;
    }
    .senderista:last-child{
        width:28px;
        left:36px;
    }
}

 /* ESTILOS PANTALLAS HASTA 501px */
 
@media screen and (max-width:501px){
    .header_principal{
        height:230px;
        padding:25px;
    }
    .header_secundario{
        flex-direction:column;
        height:180px;
        padding:10px;
    }
    .header_secundario .logo_inicio{
        width:100px;
    }
    .navegacion{
        display:block;
        position:fixed;
        background-color:rgba(255,255,255,0.95);
        width:calc(100% - 80px);
        height:100vh;
        top:-150vh;
        left:0;
        padding:50px;
        transition:top 0.8s;
    }
    .navegacion ul{
        flex-direction:column;
    }
    .header_secundario ul li{
        padding:8px;
    }
    .navegacion li:hover{
        transform:none;
    }
    .navegacion ul li ul li:hover{
        transform:scale(1);
    }
    .header_principal .submenu.visible_submenu {
        top:2.6rem;
        left:0.4rem;
        width:90%;
    }
    .submenu.visible_submenu {
        top:2.6rem;
        left:0.4rem;
        width:90%;
    }
    .header_principal .submenu.visible_submenu li{
        width: calc(100% - 10px);
        padding: 5px;
      }
    .submenu a{
        font-size:0.3rem;
        font-weight:200;
    }
    .submenu li br:nth-child(4){
        display:none;
    }
    .navegacion ul li{
        display:flex;
        align-items:center;
        height:5vh;
    }
    .navegacion ul li a{
        font-size:1.2rem;
    }
    .navegacion li:first-child a .fa-rotate-90{
        margin-left:2.4rem;
    }
    .navegacion ul ul li a{
        font-size:0.6rem;
        padding:10px;
    }
    .navegacion li:not(:first-child){
        margin-top:0.4rem;
    }
    .navegacion li:not(:last-child) {
        margin-right:0;
    }
    .navegacion .fa-rotate-90{
        font-size:1.5rem;
    }
    .desplegado{
        top:0vh;
    }
    .cerrar_header_movil{
        display:block;
        border:none;
        color:#cf5533;
        background-color:transparent;
        cursor:pointer;
        position:absolute;
        top:15px;
        left:15px;
        font-size:1.5rem;
    }
    .abrir_header_movil{
        display:block;
        width:250px;
        border:1px solid rgba(255,255,255,0.8);
        border-radius:20px;
        background-color:rgba(255,255,255,0.8);
        box-shadow:0.5px 0.5px 10px #2f272a;
        padding:5px;
        cursor:pointer;
        width:200px;
        cursor:pointer;
    }
    .abrir_header_movil i{
        font-size:1.5rem;
    }
    .logo_inicio{
        width:100px;
    }
    .pg_inicio{
        flex-direction:column;
        justify-content:flex-end;
    }
    .pg_inicio h2{
        font-size:1.3rem;
        padding-top:0;
        margin-bottom:22vh;
        text-align:center;
    }
    .contenedor_rutas,.contenedor_entorno{
        padding:20px 15px 100px;
    }
    .contenedor_rutas h2{
        display:block;
        font-size:0.8rem;
    }
    .contenedor_entorno h2{
        font-size:1rem; 
    }
    .contenedor_rutas h3,.contenedor_entorno h3{
        display:block;
        font-size:0.8rem;
    }
    .contenedor_rutas p,.contenedor_entorno p{
        font-size:0.6rem;
    }
    .contenedor_entorno p{
        line-height:1rem;
    }
    .cabecera_ruta{
        flex-direction:column;
        align-items:center;
    }
    .izquierda_cabecera_ruta{
        display:flex;
        align-items:center;
    }
    .derecha_cabecera_ruta{
        width: 160px;
    }
    .contenedor_rutas p,.contenedor_entorno p{
        font-size:0.9rem;
    }
    .derecha_cabecera_ruta{
        width:calc(100% - 50px);
        margin-bottom:5px;
    }
    .bloque_ruta:not(:first-child),.bloque_entorno:not(:first-child){
        margin:20px auto 0;
    }
    .mapa_perfil_rutas img{
        width:280px;
        height:140px;
    }
    .img_rutas{
        width:calc(100% - 20px);
        flex-direction:column;
        align-items:center;
    }
    .galeria,.mapas{
        grid-template-columns:repeat(1,auto);
    }
    .galeria img:hover,.enlace-mapa:hover{
        transform:scale(1);
        box-shadow:none;
        cursor:auto;
    }
    .modal_galeria{
        display:none;
    }
    .contenedor-img{
        width:250px;
        height:250px;
        border:15px solid #2f272a;
    }
    .contenedor-img img{
        width:250px;
        height:250px;
    }
    .contenedor-img .boton_cerrar{
        top:-26px;
        left:-26px;
        font-size:1rem;
    }
    .formulario,.texto_localizador_contacto{
        width:calc(100% - 20px);
    }
    .formulario h2,.texto_localizador_contacto h2{
        font-size:2rem;
    }
    .texto_localizador_contacto p{
        margin-top:20px;
    }
    .texto_localizador_contacto iframe{
        width:320px;
    }
    .consulta_enviada{
        width:60%;
    }
    .consulta_enviada h2{
        font-size:0.8rem;
    }
    .consulta_enviada p:nth-child(3){
        font-size:0.7rem;
        padding:10px 0px;
    }
    .consulta_enviada p:nth-child(4){
        font-size:0.6rem;
        margin-top:10px;
    }
    .boton_cerrar{
        top:1px;
        left:1px;
        width:20px;
        height:20px;
        font-size:1rem;
    }
    footer{
        height:3rem;
        flex-direction:column;
    }
    footer .fa-brands{
        margin-right:10px;
    }
    .redes_sociales{
        font-size:1.2rem;
    }
    .texto_footer{
        font-size:0.8rem;
    }
    .redes_sociales,.texto_footer{
        margin:5px;
    }
    .caja_busqueda{
        display:none;
    }
    .senderista{
        width:25px;
        bottom:4rem;
        left:5px;
    }
    .senderista:last-child{
        width:28px;
        left:36px;
    }
}